#background1  {
  
}
body, .TNbar{
	background-color: LightGray;
	margin :0;
	padding:0;
}
p {
  margin :auto;
  font-size: 20px;
  width: 50%;
}
body {
  text-align: center;
}
#IMG1{
	display: none
}
#EBD1{
	display: none
}
#Skin{
	display: none
}