<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script src="script.js"></script>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="style.css">
   <title>Home - My Webpage</title>
  
  </head>
  <body>
    <!--nav bar-->
    <nav class="navbar navbar-expand-md bg-success navbar-dark">
      <a class="navbar-brand" href="."></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="page1.html">The Black Death Plague</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="page2.html">The Spanish Flu</a>
          </li>  
          <li class="nav-item, active">
            <a class="nav-link" href="page3.html">The Great Plague of London</a>
		  </li>
          <li class="nav-item">
            <a class="nav-link" href="page4.html">The Philadelphia Yellow Fever</a>
          </li>    
        </ul>
      </div>  
    </nav>
    
    <!--page content-->
    <h1>The Great Plague of London</h1>
	<p><b><a href="https://curiosity.lib.harvard.edu/contagion/feature/the-great-plague-of-london-1665" target="_blank">According to this link</a></b></p>
    <p>The Great Plague of London in 1665 was the last in a long series of plague epidemics that first began in London in June 1499.
	The Great Plague killed between 75,000 and 100,000 of London’s rapidly expanding population of about 460,000.First suspected in late 1664, London’s plague began to spread in earnest eastwards in 
	April 1665 from the destitute suburb of St. Giles through rat-infested alleys to the crowded and squalid parishes of Whitechapel and Stepney on its way to the walled City of London.First suspected in late 1664,
    London’s plague began to spread in earnest eastwards in April 1665 from the destitute suburb of St.Giles through rat-infested alleys to the crowded and squalid parishes of Whitechapel and Stepney on its way to 
	the walled City of London.</p>
	<img id="LGP" src="LGP.jpg" alt="LGP" width="400" height="400">
	<img id="LGP1" src="LGP1.jpg" alt="LGP1" width="400" height="400">
	<p><b><a href="https://www.nationalarchives.gov.uk/education/resources/great-plague/#:~:text=There%20are%20three%20types%20of,experienced%20headaches%2C%20vomiting%20and%20fever." target="_blank">According to this link</a></b></p>
	<p>There are three types of plague. Most of the sick in 1665-1666 had bubonic plague. This created swellings (buboes) in the lymph nodes found in the armpits, groin and neck.
	   Plague sufferers experienced headaches, vomiting and fever. They had a 30% chance of dying within two weeks. This type of plague spread from a bite caused by a black rat flea that
	   carried the Yersinia pestis bacteria.Worse still was pneumonic plague, which attacked the lungs and spread to other people through coughing and sneezing, and septicaemic plague, which 
	   occurred when the bacteria entered the blood. In these cases, there was little hope of survival. Treatments and prevention at the time did not help. Sometimes, patients were bled with leeches. People thought impure air 
	   caused the disease and could be cleansed by smoke and heat. Children were encouraged to smoke to ward off bad air. Sniffing a sponge soaked in vinegar was also an option.</p>
    <img id="PBD" src="PBD.jpeg" alt="PBD" width="400" height="400">
	<img id="Plague" src="Plague.jfif" alt="Plague" width="700" height="400">
	<p><b><a href="https://www.historylearningsite.co.uk/stuart-england/cures-for-the-plague/#:~:text=Putting%20the%20tail%20feathers%20of,was%20a%20popular%20'cure'." target="_blank">According to this link</a></b></p>
	<p>Charlatans who stayed in London set themselves up as doctors. They sold plague ‘cures’ at high prices. There were many who were willing to try these quack cures as few had any other alternative. 
	‘Plague water’ was a popular cure as was powered unicorn horn and frogs legs. What actually went into powered unicorn horn is not known. Putting the tail feathers of a live chicken onto buboes drew out the poison allowing the patient to recover – so people were told.
     Making a victim of the plague sweat and then applying to buboes a recently killed pigeon was a popular ‘cure’.</p>
	 <a href="page4.html" class="BTN">Next Page </a>
		  <a href="page2.html" class="Button">Previous Page </a>
  </body>
</html>


