<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script src="script.js"></script>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="style.css">
  <title>Home - My Webpage</title>
  
  </head>
  <body>
    <!--nav bar-->
    <nav class="navbar navbar-expand-md bg-warning navbar-dark">
      <a class="navbar-brand" href="."></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="page1.html">The Black Death Plague</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="page2.html">The Spanish Flu</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="page3.html">The Great Plague of London</a>
		  </li>
          <li class="nav-item, active">
            <a class="nav-link" href="page4.html">The Philadelphia Yellow Fever</a>
          </li>    
        </ul>
      </div>  
    </nav>
    
    <!--page content-->
    <h1>The Philadelphia Yellow Fever</h1>
	<p><b><a href="https://www.medicalnewstoday.com/articles/174372" target="_blank">According to this link</a></b></p>
	<p>The first major American yellow fever epidemic hit Philadelphia in July 1793 and peaked during the first weeks of October. Philadelphia, then the nation’s capital, was the most cosmopolitan city in the United States. 
	   Two thousand free Black people lived there, as well as many recent white French-speaking arrivals from the colony of Santo Domingo, who left the islands as a result of rebellions of enslaved people during the Haitian Revolution (1791-1804).
	   Major Revolutionary political figures lived there, and in the first week of September, Thomas Jefferson wrote to James Madison that everyone who could escape the city was doing so. The epidemic depopulated Philadelphia:
	   5,000 out of a population of 45,000 died, and chronicler Mathew Carey estimated that another 17,000 fled.</p>
    <img id="YF" src="YF.jpg" alt="YF" width="400" height="400">
	<img id="YF1" src="YF1.jpg" alt="YF1" width="600" height="400">
	<p><b><a href="https://www.medicalnewstoday.com/articles/174372#symptoms" target="_blank">According to this link</a></b></p>
	<p> Most people with yellow fever do not develop symptoms, or the symptoms are very mild. Yellow fever has an incubation period of between 3 and 6 days, so it takes from 3 to 6 days
     	for signs and symptoms to appear after a person is infected.The disease cannot spread among humans. Only infection-carrying mosquitoes spread the disease to humans.The main symptoms
		of yellow fever are a high temperature, a slow pulse, albuminuria, jaundice, congestion of the face, and hemorrhage, or bleeding. Yellow fever is a hemorrhagic condition that can lead 
		to a high fever, bleeding into the skin, and cell death in the liver and kidneys. If enough liver cells die, liver damage occurs, leading to jaundice, a condition in which the skin takes on a yellowish color.</p>
    <img id="SYF" src="SYF.jpg" alt="SYF" width="600" height="400">
	<img id="YFB" src="YFB.jpg" alt="YFB" width="600" height="400">
	<p>.</p>
	<a href="page3.html" class="Button">Previous Page </a>
  </body>
</html>


